/*Estilos Index */
nav {
  background-color: #ff91c475;
  overflow: hidden;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  width: 130px;
}

nav a:hover {
  background-color: #ddd;
}

nav a.active {
  background-color: #8a0af3;
  color: white;
}



  /* Estilos de mi carrusel */
  .slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(300px + 3em);
}

.slide-open:checked+.slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
        -1px 0px 2px rgba(255, 255, 255, 0);
}
  
/* Estilo vista de login */ 
        .form-registro {
            background-color: rgba(255, 0, 64, 0.209); /* Fondo blanco semitransparente */
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 2px 5px rgba(191, 35, 35, 0.3);
            width: 30%;
            margin-left: 33%;
        }

        .label-registro {
            display: block;
            margin-bottom: 5px;
        }

        .input-registro, select {
            width: 80%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #000000;
            border-radius: 4px;
        }

        button {
            background-color: #ffffff1d;
            color: rgb(0, 0, 0);
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        body-back {
          margin: 0;
          padding: 0;
          font-family: Arial, sans-serif;
          background-image: url('');
          background-size: cover;
          background-repeat: no-repeat;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden; /* Esto oculta cualquier contenido que sobrepase el contenedor */
      }
      
      .container {
          /* ... tus estilos existentes ... */
          width: 200%; /* Ajusta el ancho según sea necesario */
          max-width: 200px; /* Establece un ancho máximo para evitar que se extienda demasiado */
      }
      
      /* Ocultar cualquier otro contenido (ejemplo): */
      .otro-contenido {
          display: none;
      }
      

      .body {
        margin: 0;
        padding: 0;
        background-image: url('../img/loginnn.avif'); /* Ajusta la ruta a tu imagen */
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-position: center; 
        color: rgb(49, 0, 0);
    }
   
    h1 {
        margin-left: 590px; /* Puedes ajustar el valor 20px a tu gusto */
      }

      /* Tipo de letra para el login */
      .shadows-into-light-regular {
        font-family: "Shadows Into Light", serif;
        font-weight: 400;
        font-style: normal;
      }
      