<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Talia- Labios </title>
    <link rel="stylesheet " href="../css/style.css">
    <link rel="icon" href="../img/logo.png">

</html>
<div class="banner">
    Envíos GRATIS para compras superiores a $100.000. ¡Encuentra lo que necesitas al mejor precio!
</div>
<br>
<div style="margin-top: 15px;"></div>
<!-- Menu de navegacion -->

<body>

    <section id="../login.html">
    </section>
    <div style="display: flex; margin-top: -10px;">
        <img style="margin-top: -10px;" src="../img/logo.png" alt="logo" width="120" height="80">
            <div class="search-container">
            </div>
            <form class="search-box" action="./views/Labios.html" method="GET">
            <form class="search-box" action="./views/Cejas.html" method="GET">  
            <form class="search-box" action="./views/Ojos.html" method="GET">
            <form class="search-box" action="./views/Piel.html" method="GET">
            <form class="search-box" action="./views/Brochas.html" method="GET">   
                <input type="text" name="query" class="search-input" placeholder="¿Qué estás buscando?" required>
                <button type="submit" class="search-button">🔍</button>
            </form>
            <a class="estilos-icono" href="../login.html"><img src="../img/inicio.jpg" alt="Icono de inicio" width="30 "
                height="30"></a>
    </div>
</body>

<div style="margin-top: -45px;">
    <br>
    <br>
    <nav style="margin-top: 30px;">
      <a class="bebas-neue-regular"  href="../views/Brochas.html">Brochas</a>
      <a class="bebas-neue-regular"  href="../views/Labios.html">Labios</a>
      <a class="bebas-neue-regular"  href="../views/Ojos.html">Ojos</a>
      <a class="bebas-neue-regular"  href="../views/Piel.html">Piel</a>
      <a class="bebas-neue-regular"  href="../views/Cejas.html">Cejas</a>
    </nav>
</div>
</div>