<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Talia- Labios </title>
    <link rel="stylesheet " href="../css/index.css">
    <link rel="stylesheet " href="../css/vistas.css">
    <link rel="icon" href="../img/logo.png">

</html>
<div class="banner">
    Envíos GRATIS para compras superiores a $100.000. ¡Encuentra lo que necesitas al mejor precio!
</div>
<br>
<div style="margin-top: 15px;"></div>
<!-- Menu de navegacion -->

<body>

    <section id="../login.html">
    </section>
    <div style="display: flex; margin-top: -10px;">
        <a href="../index.html">
            <img style="margin-top: -10px;" src="../img/logo.png" alt="Logo de la página" width="160" height="110">
        
        </a
      </a>
            <div class="search-container">
            </div>
            <form class="search-box" action="./views/Labios.html" method="GET">
            <form class="search-box" action="./views/Cejas.html" method="GET">  
            <form class="search-box" action="./views/Ojos.html" method="GET">
            <form class="search-box" action="./views/Piel.html" method="GET">
            <form class="search-box" action="./views/Brochas.html" method="GET">   
                <input type="text" name="query" class="search-input" placeholder="¿Qué estás buscando?" required>
                <button type="submit" class="search-button">🔍</button>
                </form>
                <div class="user-info">
                    <span id="user-name"></span>
                    <img id="logout-icon" src="../img/cerrar.jpg" alt="Cerrar sesión" width="30" height="30" title="Cerrar sesión">
                </div>      
    </div>
</body>

<div style="margin-top: -45px;">
    <br>
    <br>
    <nav style="margin-top: 30px;">
      <a class="bebas-neue-regular"  href="../views/Brochas.html">Brochas</a>
      <a class="bebas-neue-regular"  href="../views/Labios.html">Labios</a>
      <a class="bebas-neue-regular"  href="../views/Ojos.html">Ojos</a>
      <a class="bebas-neue-regular"  href="../views/Piel.html">Piel</a>
      <a class="bebas-neue-regular"  href="../views/Cejas.html">Cejas</a>
      <a class="bebas-neue-regular" href="../views/somos.html">Somos</a>
    </nav>
</div>

<body>
    <!-- Galería de productos -->
    <div id="productos" class="product-gallery active">
        <!-- Producto 1 -->
        <div class="product">
            <a href="#detalle-tinta" onclick="mostrarSeccion('detalle-tinta')">
                <img src="../img/tinta.jpg" alt="Tinta de labios">
            </a>
            <p class="product-price">$7.000</p>
            <p class="product-title">Tinta de labios</p>
            <div class="quantity-controls">
                <button>-</button>
                <input type="number" value="1" min="1">
                <button>+</button>
            </div>
            <div class="add-to-cart">
                <button>🛒</button>
            </div>
        </div>

        <!-- Producto 2 -->
        <div class="product">
            <a href="#detalle-rosa" onclick="mostrarSeccion('detalle-rosa')">
                <img src="../img/rosa.jpg" alt="Gel Fijador">
            </a>
            <p class="product-price">$10.000</p>
            <p class="product-title">Gloss</p>
            <div class="quantity-controls">
                <button>-</button>
                <input type="number" value="1" min="1">
                <button>+</button>
            </div>
            <div class="add-to-cart">
                <button>🛒</button>
            </div>
        </div>

        <!-- Producto 3 -->
        <div class="product">
            <a href="#detalle-lapizlabial" onclick="mostrarSeccion('detalle-lapizlabial')">
                <img src="../img/lapizlabial.jpg" alt="Lapiz Terra cota">
            </a>
            <p class="product-price">$5.000</p>
            <p class="product-title">Lapiz Terra cota</p>
            <div class="quantity-controls">
                <button>-</button>
                <input type="number" value="1" min="1">
                <button>+</button>
            </div>
            <div class="add-to-cart">
                <button>🛒</button>
            </div>
        </div>

        <!-- Producto 4 -->
        <div class="product">
            <a href="#detalle-gloos_alove" onclick="mostrarSeccion('detalle-gloos_alove')">
                <img src="../img/gloos_alove.jpg" alt="Gloos Alove vera ">
            </a>
            <p class="product-price">$10.000</p>
            <p class="product-title">Gloos Alove vera</p>
            <div class="quantity-controls">
                <button>-</button>
                <input type="number" value="1" min="1">
                <button>+</button>
            </div>
            <div class="add-to-cart">
                <button>🛒</button>
            </div>
        </div>
        <!-- Producto 5 -->
        <div class="product">
            <a href="#detalle-labial" onclick="mostrarSeccion('detalle-labial')">
                <img src="../img/labial.jpg" alt="Labial Mate">
            </a>
            <p class="product-price">$10.000</p>
            <p class="product-title">Labial Mate</p>
            <div class="quantity-controls">
                <button>-</button>
                <input type="number" value="1" min="1">
                <button>+</button>
            </div>
            <div class="add-to-cart">
                <button>🛒</button>
            </div>
        </div>

        <!-- Detalles de los productos -->
        <div id="detalle-tinta" class="product-detail">
            <img src="../img/tinta.jpg" alt="Tinta de labios" width="60%" height="60%">
             <h2>Tinta de labios</h2>
            <p>Precio: $7.000</p>
            <p>Descripción: Ideal para pintar tus labios dejando un acabdo natural</p>
            <button class="back-button" onclick="mostrarSeccion('productos')">Volver a Productos</button>
        </div>

        <div id="detalle-rosa" class="product-detail">
            <img src="../img/rosa.jpg" alt="Gloss">
            <h2>Gloss</h2>
            <p>Precio: $10.000</p>
            <p>Descripción:Gloss con brillantina, acabado natural</p>
            <button class="back-button" onclick="mostrarSeccion('productos')">Volver a Productos</button>
        </div>

        <div id="detalle-lapizlabial" class="product-detail">
            <img src="../img/lapizlabial.jpg" alt="Lapiz terra cota">
            <h2>Lapiz Terra cota</h2>
            <p>Precio: $5.000</p>
            <p>Descripción: Lapiz labial, ideal para delinear tus labios</p>
            <button class="back-button" onclick="mostrarSeccion('productos')">Volver a Productos</button>
        </div>
        <div id="detalle-gloos_alove" class="product-detail">
            <img src="../img/gloos_alove.jpg" alt="Gloss Alove vera">
            <h2>Gloss Alove vera</h2>
            <p>Precio: $10.000</p>
            <p>Descripción: Gloos con estrracto de Alove vera.</p>
            <button class="back-button" onclick="mostrarSeccion('productos')">Volver a Productos</button>
        </div>

        <div id="detalle-labial" class="product-detail">
            <img src="../img/labial.jpg" alt="Labial Mate">
            <h2>Labial Mate</h2>
            <p>Precio: $10.000</p>
            <p>Descripción: Labial Mate, cota terra</p>
            <button class="back-button" onclick="mostrarSeccion('productos')">Volver a Productos</button>
        </div>
</body>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer de Información</title>
</head>

<body>
  <footer class="footer">
    <!-- Sección de Mi Cuenta -->
    <div class="section">
      <div class="section-icon">👤</div>
      <h3>Mi cuenta</h3>
      <ul>
        <li><a href="#">Carrito</a></li>

        <li><a href="../login.html" </a>Inicio de Sesion </li>
        <li><a href="#">Actualiza tus datos</a></li>
      </ul>
    </div>

    <!-- Sección de Redes Sociales -->
    <div class="section">
      <div class="section-icon"></div>
      <h3>Redes Sociales</h3>
      <div class="social-logos">
        <a href="https://www.instagram.com" target="_blank"><img src="../img/instaa.jpg" alt="Instagram"></a>
        <a href="https://www.twitter.com" target="_blank"><img src="../img/tw.jpg" alt="Twitter"></a>
      </div>
    </div>

    <!-- Sección de Medios de Pago -->
    <div class="section">
      <h3>Medios de pago</h3>
      <div class="payment-logos">
        <img src="../img/bancolombia.jpg" alt="Bancolombia" width="15%" height="15%">
        <img src="../img/nequi.jpg" alt="Nequi" width="15%" height="15%">

          <!-- JavaScript -->
          <script>
            function actualizarCantidad(boton) {
    const contenedorProducto = boton.closest('.product');
    const inputCantidad = contenedorProducto.querySelector('input');
    const precioUnitario = parseFloat(contenedorProducto.querySelector('.product-price').textContent.replace('$', '')); // Extraer precio unitario
    const precioTotalElement = contenedorProducto.querySelector('.precio-total'); // Suponiendo que tienes un elemento con esta clase

    let valorActual = parseInt(inputCantidad.value);

    if (boton.textContent === '+') {
        valorActual++;
    } else if (boton.textContent === '-') {
        valorActual = Math.max(valorActual - 1, 1); // Asegurar valor mínimo de 1
    }

    inputCantidad.value = valorActual;
    precioTotalElement.textContent = `$ ${valorActual * precioUnitario}`;
}

// Seleccionar todos los botones de cantidad
const botonesCantidad = document.querySelectorAll('.quantity-controls button');

// Agregar un event listener a cada botón
botonesCantidad.forEach(boton => {
    boton.addEventListener('click', () => {
        actualizarCantidad(boton);
    });
});
            function mostrarSeccion(id) {
                // Ocultar todas las secciones
                document.querySelectorAll('.product-gallery, .product-detail').forEach(seccion => {
                    seccion.classList.remove('active');
                });

                // Mostrar la sección seleccionada
                document.getElementById(id).classList.add('active');
            }

            /*Loggin*/
            const username = localStorage.getItem('username');
const userNameSpan = document.getElementById('user-name');
const logoutIcon = document.getElementById('logout-icon');

// Función para mostrar el saludo al usuario
function mostrarSaludo(usuario) {
  if (usuario && usuario.nombre) {
    userNameSpan.textContent = `Bienvenido, ${usuario.nombre}!`;
    logoutIcon.style.display = 'inline';
  } else {
    console.error('Error: No se pudo obtener el nombre del usuario.');
  }
}

// Función para cerrar sesión
function cerrarSesion() {
  localStorage.removeItem('username');
  window.location.href = "../login.html";
}

// Recuperar y mostrar el usuario (si existe)
const usuario = JSON.parse(localStorage.getItem('usuario'));
mostrarSaludo(usuario);

// Agregar evento de clic al ícono de cierre de sesión
logoutIcon.addEventListener('click', cerrarSesion);
        </script>