<!DOCTYPE html>
<html lang="es">
<!--Menu de navegacion -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mujer - Armario de Talia</title>
  <link rel="icon" href ="../img/logo.png">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <div>
    <div style="display: flex;">
      <a href="../index.html">
        <img  src="../img/logo.png" alt="logo" width="120" height="80">
      </a>
    </div>
    <div style="margin-top: -60px; margin-left: 150px;">
      <nav>
        <a href="../index.html">Armario de Talia</a>
        <a href="mujer.html">Mujer</a>
        <a href="maquillaje.html">Maquillaje</a>
        <a href="Quienes somos.html">Quiénes somos</a>
        <a href="Redes sociales.html">Redes sociales</a>
      </nav>
    </div>
  </div>
  <br>
  <br>
  <br>
  <!--Imgenes De producto -->
  <section class="productos">
    <section class="productos">
      <div class="producto">
        <div>
          <img style="margin-right: 30px;" src="../img/outfit3.jpg" alt="Outfit Casual" onclick="Hola()"="200" height="300">
          <img style="margin-right: 30px;" src="../img/outfit2.jpg" alt="Outfit Casual" width="200" height="300">
          <img style="margin-right: 30px;"src="../img/outfit4.jpg" alt="Outfit Casual" width="200" height="300">
          <img style="margin-right: 30px;" src="../img/outfit1.jpg" alt="Outfit Casual" width="200" height="300">
        </div>
      </div>
    </section>
</body>
</html>
