<!DOCTYPE html>
<html lang="es">
<!--Menu de navegacion -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quienes Somos - Armario de Talia</title>
  <link rel="icon" href="../img/logo.png">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <div>
    <div style="display: flex;">
      <img href="../index.html" src="..\img\logo.png" alt="logo" width="120" height="80">
    </div>
    <div style="margin-top: -60px; margin-left: 150px;">
      <nav>
        <a href="../index.html">Armario de Talia</a>
        <a href="mujer.html">Mujer</a>
        <a href="maquillaje.html">Maquillaje</a>
        <a href="Quienes somos.html">Quiénes somos</a>
        <a href="Redes sociales.html">Redes sociales</a>
      </nav>
    </div>
  </div>
  <!-- Quienes somos -->
  <div style="text-align: center;">
    <h1 class="shadows-into-light-regular">Quiénes somos </h1>
  </div>
<p class="shadows-into-light-regular">En un rincón mágico donde la moda y la belleza se entrelazan, nació 'El Armario de Talia'. Talia, una soñadora empedernida, siempre ha creído en el poder transformador de un buen outfit y un maquillaje impecable. Su pasión por la moda la llevó a crear este espacio virtual donde cada prenda y cada cosmético es una pieza de un rompecabezas que te ayudará a construir tu propia identidad.

    En 'El Armario de Talia', no solo encontrarás ropa y maquillaje, sino también inspiración. Queremos acompañarte en tu viaje personal, desde el día a día hasta las ocasiones más especiales. Nuestra selección de productos, cuidadosamente curada, refleja las últimas tendencias y te ofrece la posibilidad de expresar tu estilo único.
    
    Somos más que una tienda online, somos una comunidad de amantes de la moda y la belleza. Únete a nosotros y descubre un mundo de posibilidades. ¡Tu armario te espera!</p>